// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800
// <width>: Use a value from 75 to 100

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>;
}
body{
    font-family: sans-serif;
}
.site-logo{
    font-size: 45px;
    font-weight: 800;
    font-style: normal;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    border: none;
    padding:18px ;
    border-radius: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav li a{
    color: #474747;
    font-size: 20px;
    padding:30px;
    
}
.btn-header{
    /* width: 150px;
    height: 64px; */
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    
}
.nav{
    margin-bottom: 0;
}
.header{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding:0px 30px 0px 200px; 
    display: flex;  
    align-items: center;
    margin-top: 30px;
}
.banner-content{
    max-width: 550px;
}
.banner-pic{
    height: 600px;
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 400;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
}
.banner-paragraph{
    font-size: 18px;
    line-height: 30px;
    color: #474747;
    margin-top: 20px;
}
.btn-download{
    background: #FD6E0A;
    width: 200px;
    height: 64px;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
}
.btn-contact{
    width: 160px;
    height: 64px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    color: #FD6E0A;
    font-size: 20px;
    padding: 0;

}

/* main section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about me section styles */
.section-title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.section-description{
    margin-top: 0;
    padding:30px 100px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}
.about{
    padding:130px;
    border-radius: 5px;
    background:#FFF8F3;
    margin:130px 0;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    padding:0 100px;
}
.info-title{
    margin-bottom: 0;
}
.about-info{
    margin-right: 20px;
}
.info-description{
    margin-top:10px;
}
